@font-face {
    font-family: 'Pokemon GB';
    src: url('./fonts/PokemonGb-RAeo.ttf')
}

* {
    font-family: Pokemon GB, sans-serif
}

img {
    max-width: 50%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 36px;
    font-family: 'Pokemon Solid', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.game-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./img/bg-forest.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card-section {
    margin: 5%;
    display: flex;
    justify-content: center;
    gap: 5%;

}

.card {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.pokemon {
    min-width: 75%;
    min-height: auto;
}

.game-box {
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-style: solid;
    padding: 10px;
    /* padding-bottom: 10px;
    padding-left: 10px; */
    margin-right: 10px;
    margin-left: 10px;
    font-family: Pokemon GB;
    font-size: 12px;
    max-width: fit-content;
    align-self: center;

}

.score-box {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #eee;
    border-style: solid;
    max-width: fit-content;
    align-self: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    gap: 0.2em;
    align-items: center;
    justify-content: center;
    background: #eee;
    font-size: 8px;
}